* {
  box-sizing: border-box;
  font-family: "Alexandria", sans-serif;
}

body {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

input {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
}

h1 {
  margin: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1070px;
  }
}
header {
  display: flex;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 70px;
  box-shadow: 0 0 10px #999;
}
header .container {
  display: flex;
  align-items: center;
}
header .container img {
  width: 50px;
}
header .container ul.links {
  display: inline-flex;
  align-items: center;
  margin: 0 21px;
  gap: 30px;
}
header .container ul.links a {
  color: #c6c8c7;
  transition: color 0.3s;
}
header .container ul.links a.active, header .container ul.links a:hover {
  color: #034ea2;
}
header .container ul.links a.active {
  font-weight: bold;
}

a.start-story {
  display: inline-flex;
  align-items: center;
  margin-right: auto;
  border-radius: 7px;
  padding: 0 20px;
  height: 40px;
  background-color: #034ea2;
  color: white;
}

a.tell-story {
  display: inline-flex;
  align-items: center;
  margin-right: auto;
  border-radius: 7px;
  padding: 0 20px;
  height: 40px;
  background-color: white;
  color: #034ea2;
  margin-right: auto;
  margin-left: auto;
  margin-top: 25px;
}

footer {
  background-color: #b9e5fb;
  margin-top: 25px;
}
footer .container {
  display: flex;
  align-items: center;
  gap: 30px;
  height: 300px;
}
footer .container .copyright {
  flex-grow: 1;
}
footer .container div {
  height: 100px;
}
footer .container h3 {
  color: #034ea2;
  margin: 0;
  margin-bottom: 20px;
}
footer .container img {
  width: 100px;
  margin-bottom: 15px;
}
footer .container a {
  color: black;
  font-size: 18px;
}
footer .container ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

section.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #034ea2;
  text-align: center;
  height: 300px;
}
section.heading h1 {
  font-size: 2rem;
}

section.nadawat {
  margin-bottom: 90px;
}
section.nadawat .container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
section.nadawat .container .panel {
  display: inherit;
  border-radius: 15px;
  overflow: hidden;
  height: 272px;
  border: 3px solid #EEE;
}
section.nadawat .container .panel > * {
  height: inherit;
}
section.nadawat .container .panel .nad-image {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: inherit;
}
section.nadawat .container .panel .text {
  position: relative;
  padding: 25px;
  flex-grow: 1;
}
section.nadawat .container .panel .text h2 {
  color: #034ea2;
  margin-bottom: 30px;
}
section.nadawat .container .panel .text p {
  line-height: 1.7;
}
section.nadawat .container .panel .text .event {
  position: absolute;
  bottom: 25px;
  left: 25px;
}
section.nadawat .container .panel .text .event a {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  background-color: #034ea2;
  color: white;
  width: 120px;
  height: 40px;
  font-size: 13px;
}