* {
  box-sizing: border-box;
  font-family: "Alexandria", sans-serif;
}

body {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

input {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
}

h1 {
  margin: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1070px;
  }
}
header {
  display: flex;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 70px;
  box-shadow: 0 0 10px #999;
}
header .container {
  display: flex;
  align-items: center;
}
header .container img {
  width: 50px;
}
header .container ul.links {
  display: inline-flex;
  align-items: center;
  margin: 0 21px;
  gap: 30px;
}
header .container ul.links a {
  color: #c6c8c7;
  transition: color 0.3s;
}
header .container ul.links a.active, header .container ul.links a:hover {
  color: #034ea2;
}
header .container ul.links a.active {
  font-weight: bold;
}

a.start-story {
  display: inline-flex;
  align-items: center;
  margin-right: auto;
  border-radius: 7px;
  padding: 0 20px;
  height: 40px;
  background-color: #034ea2;
  color: white;
}

a.tell-story {
  display: inline-flex;
  align-items: center;
  margin-right: auto;
  border-radius: 7px;
  padding: 0 20px;
  height: 40px;
  background-color: white;
  color: #034ea2;
  margin-right: auto;
  margin-left: auto;
  margin-top: 25px;
}

footer {
  background-color: #b9e5fb;
  margin-top: 25px;
}
footer .container {
  display: flex;
  align-items: center;
  gap: 30px;
  height: 300px;
}
footer .container .copyright {
  flex-grow: 1;
}
footer .container div {
  height: 100px;
}
footer .container h3 {
  color: #034ea2;
  margin: 0;
  margin-bottom: 20px;
}
footer .container img {
  width: 100px;
  margin-bottom: 15px;
}
footer .container a {
  color: black;
  font-size: 18px;
}
footer .container ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

section.signup .container {
  height: calc(100vh - 70px);
  display: flex;
  align-items: center;
}
section.signup .container > * {
  width: 50%;
  height: 100%;
}
section.signup .container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
section.signup .container form .form-div {
  position: relative;
}
section.signup .container form .form-div input {
  border: 3px solid #EEE;
  height: 55px;
  border-radius: 10px;
  font-size: 1rem;
  width: 100%;
  padding: 0 10px;
}
section.signup .container form .form-div input[type=submit] {
  background-color: #034ea2;
  color: white;
  border: none;
}
section.signup .container form .form-div input::placeholder {
  color: #CCC;
}
section.signup .container form .form-div input:focus::placeholder {
  color: transparent;
}
section.signup .container form .form-div i.fa-eye {
  position: absolute;
  font-size: 1.3rem;
  color: #CCC;
  cursor: pointer;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  transition: color 0.3s;
}
section.signup .container form .form-div i.fa-eye:hover {
  color: initial;
}
section.signup .container form ul.apis {
  display: flex;
  gap: 15px;
  justify-content: space-between;
  font-size: 2rem;
}
section.signup .container form ul.apis li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  border: 2px solid #EEE;
  flex-grow: 1;
  border-radius: 15px;
  overflow: hidden;
}
section.signup .container form ul.apis i.fa-facebook {
  color: #4267B2;
}
section.signup .container form ul.apis img {
  width: 2rem;
}
section.signup .container form ul.apis a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: inherit;
}
section.signup .container form span {
  margin-top: 20px;
  text-align: center;
}
section.signup .container form span button {
  background-color: transparent;
  text-decoration: underline;
  cursor: pointer;
  font-size: 1.1rem;
  color: #034ea2;
}